* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8b0000;
}

.botao_inicio, .regras {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao_inicio button {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}

.regras {
    width: 540px;
    background-color: #ffffff;
    border-radius: 5px;
}

.regras .regras_titulo {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #959595;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.regras .regras_lista {
    padding: 15px 35px;
}

.regras .regras_lista .informacao {
    margin: 5px 0;
    font-size: 17px;
}

.regras .regras_lista .informacao span {
    font-weight: 600;
}

.regras .seguir {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid #959595;
}

.regras .seguir button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #8b0000;
    background: #8b0000;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}